* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
}

.container {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.sub-container {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}

.sub-container.no-scroll {
  overflow-y: hidden;
}

/* HEADER */
.site-header {
  color: #DFA206;
  padding: 1.5em; 
  position: absolute;
  background-color: #171717f2;
}

.hero-img {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}

.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 5em;
  font-size: 1.5rem;
  color: #edaf76;
  right: 30px;
  text-align: center;
}

/* SIDEBAR */
.sidebar-title {
  color: white;
  margin: 1em 0;
  font-size: 1.5em;
  font-weight: bold;
}

.sidebar-filters {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 1fr;
  color: white;
  gap: 0.25em;
  height: fit-content;
  padding-bottom: 1em;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.sidebar-filters a:link,
.sidebar-filters a:visited {
  text-decoration: none;
  color: inherit;
}

.filter-item {
  background-color: #171717;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 40px;
  height: 40px;
  list-style: none;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.filter-item.active {
  background-color: #e77c189b;
}

.filter-item:hover {
  cursor: pointer;
}

.filter-item-image {
  width: 30px;
}

/* CONTENTS */
.content {
  display: grid;
  gap: 1em;
  margin-top: 10px;
}

.meal-item {
  border: 1px solid rgba(205, 205, 205, 0.461);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.meal-item-img-box {
  width: 120px;
}

.meal-item-img {
  width: 100%;
}

.meal-item-text {
  height: 80px;
  align-content: center;
  text-align: center;
}

.loading,
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin: calc(50vh - 300px);
  padding: 1em;
}
.no-results {
  color: white;
  font-size: 2em;
}

/* SEARCHBAR */

.searchbar-container {
  display: flex;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-top: 1em;
  padding: 0.15em 0;
  width: 100%;
  background-color: #1e1e1e;
  background-color: #171717;
  border: 1px solid rgba(205, 205, 205, 0.461);
  border-radius: 10px;
}

.searchbar-design {
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 40px;
  color: white;
  font-size: 1.2rem;
  padding: 0 1em;
}

.searchbar-design:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

.enter-search {
  margin-right: 0.75em;
}

/* FOOTER */
.footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  flex-direction: column;
  background-color: #171717;
  margin-top: 1em;
}

/* DESKTOP */
@media (width > 900px) {
  .hero-text {
    right: 100px;
    font-size: 1.75rem;
  }

  .container {
    flex-direction: row;
  }

  .sidebar {
    width: 30%;
    /* grid-template-columns: repeat(1, 1fr); */
  }

  .sub-container {
    width: 80%;
  }

  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 900px) {
  .hero-text {
    right: 200px;
  }

  .content {
    grid-template-columns: repeat(4, 1fr);
  }

  .sidebar-filters {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 900px) {
  .content,
  .sidebar-filters {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    gap: 0;
  }
}
@media (width < 500px) {
  .content,
  .sidebar-filters {
    grid-template-columns: repeat(2, 1fr);
  }
}
